.navigationBar {
    margin-bottom: 20px;
    width: 100vw;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    z-index: 1;
    background-color: rgba(219, 109, 109, 0.541);
    justify-content: space-around;
    font-size: 30px;
    text-decoration:none
}

a:hover {
    color: rgb(22, 6, 14);
    cursor: pointer;
}

 Link {
    padding: 10px;
    margin: 0px;
    list-style-type: none;
    display: inline-block;
    color: rgb(221, 26, 22);
   
}


